<div class="container-fluid activities ">

  <h2 class="activity-title text-left fs-1 font-weight-bold pb-5 ">How would you like to calm down?</h2>

  <div class="activity-box container  mt-2">

    <div class="row-1 d-flex gap-5">
      <div class="activity row rounded-4">
        <div class="canvas-img col-4 d-flex align-items-center rounded-start">
          <img src="/images/canvas.png" alt="canvas image">
        </div>
        <div class="activity-content col-8 p-4">
          <h3 class="fs-4">Create something!</h3>
          <p class="lh-base mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam beatae a assumenda aliquam deserunt commodi.</p>
        </div>
      </div>
    
      <div class="activity row rounded-4">
        <div class="trail-img col-4 d-flex align-items-center rounded-start">
          <img src="/images/trail.png" alt="trail image">
        </div>
        <div class="activity-content col-8 p-4">
          <h3 class="fs-4">Get Moving!</h3>
          <p class="lh-base mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam beatae a assumenda aliquam deserunt commodi.</p>
        </div>
      </div>
    </div>

    <div class="row-2 d-flex gap-5 mt-5">
        
    <div class="activity row rounded-4">
      <div class="breathe-img col-4 d-flex align-items-center rounded-start">
        <img src="/images/breathe.png" alt="breathe image">
      </div>
      <div class="activity-content col-8 p-4">
        <h3 class="fs-4">Breathe</h3>
        <p class="lh-base mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam beatae a assumenda aliquam deserunt commodi.</p>
      </div>
    </div>
  
    <div class="activity row rounded-4">
      <div class="meditation-img col-4 d-flex align-items-center rounded-start">
        <img src="/images/meditation.png" alt="meditation image">
      </div>
      <div class="activity-content col-8 p-4">
        <h3 class="fs-4">Meditate</h3>
        <p class="lh-base mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam beatae a assumenda aliquam deserunt commodi.</p>
      </div>
    </div>
    </div>

    
  </div>
</div>
