<p class="text-center">got me feeling...</p>
<!-- we can delete that ðŸ‘†ðŸ¼ later...ðŸ¤ª -->

<section class="emotions mb-5 mx-4">
  <h1 class="section-title text-center pb-2 pb-md-3">Emotions</h1>

  <div class="emotions-container container-fluid">
    <div class="flex-column flex-md-row d-flex justify-content-md-between w-100">
      <div class="angry emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
        <img src="/images/angry-bw.png" class="emotion-img p-3" alt="">
      </div>
      <div class="anxious emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
        <img src="/images/anxious-bw.png" class="emotion-img p-3" alt="">
      </div>
      <div class="happy emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
        <img src="/images/happy-bw.png" class="emotion-img p-3" alt="">
      </div>
      <div class="silly emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
        <img src="/images/silly-bw.png" class="emotion-img p-3" alt="">
      </div>
      <div class="sad emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
        <img src="/images/sad-bw.png" class="emotion-img p-3" alt="">
      </div>
    </div>
  </div>
</section>
