<section class="emotions mb-5 pb-md-5 mx-4" id="emotions">
  <h1 class="section-title text-center pb-2 pb-md-3">Emotions</h1>
  <div class="emotions-container container-fluid">
    <div class="flex-column flex-md-row d-flex justify-content-md-between w-100">
      <div class="d-flex">
        <a href="/emotions/angry" class="emotion-link d-flex flex-column align-items-center text-decoration-none">
          <div class="angry emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
            <img src="/images/angry-bw.png" class="emotion-img p-2 p-lg-3" alt="Angry emoji">
          </div>
          <h5 class="emotion-title">Angry</h5>
        </a>
        <a href="/emotions/anxious" class="emotion-link d-flex flex-column align-items-center text-decoration-none">
          <div class="anxious emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
            <img src="/images/anxious-bw.png" class="emotion-img p-2 p-lg-3" alt="Anxious emoji">
          </div>
          <h5 class="emotion-title">Anxious</h5>
        </a>
      </div>
      <div class="d-flex">
        <a href="/emotions/happy" class="emotion-link d-flex flex-column align-items-center text-decoration-none">
          <div class="happy emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
            <img src="/images/happy-bw.png" class="emotion-img p-2 p-lg-3" alt="Happy emoji">
          </div>
          <h5 class="emotion-title">Happy</h5>
        </a>
        <a href="/emotions/silly" class="emotion-link d-flex flex-column align-items-center text-decoration-none">
          <div class="silly emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
            <img src="/images/silly-bw.png" class="emotion-img p-2 p-lg-3" alt="Silly emoji">
          </div>
          <h5 class="emotion-title">Silly</h5>
        </a>
      </div>
      <div class="single-emotion d-flex justify-content-center mx-auto">
        <a href="/emotions/sad" class="emotion-link d-flex flex-column align-items-center text-decoration-none">
          <div class="sad emotion-bg d-flex justify-content-between align-items-center rounded-circle m-3">
            <img src="/images/sad-bw.png" class="emotion-img p-2 p-lg-3" alt="Sad emoji">
          </div>
          <h5 class="emotion-title">Sad</h5>
        </a>
      </div>
    </div>
  </div>
</section>
