<footer class="text-light text-center py-3">
  <div class="container">
    <div class="row py-5">

      <!-- Logo Column -->
      <div class="col-md-4 my-auto">
        <a class="navbar-brand d-flex flex-column align-items-center" href="/">
          <img src="/images/logo.png" alt="Logo" class="logo img-fluid rounded-circle mx-3">
          <h1 class="fw-bold">Lavender</h1>
        </a>
      </div>

      <!-- About Us Column -->
      <div class="col-md-4 my-5 my-md-auto">
        <h4>About</h4>
        <a href="/about" class="text-decoration-none">
          <h6 class="text-center pt-2">Our Idea</h6>
        </a>
        <a href="/about" class="text-decoration-none">
          <h6 class="text-center pt-2">Our Story</h6>
        </a>
      </div>

      <!-- Social Media Column -->
      <div class="col-md-4 my-auto">
        <a href="#" class="btn btn-link">
          <i class="fab fa-github fa-8x text-white"></i>
        </a>
      </div>
    </div>
    <p>&copy; 2023 Lavender</p>
  </div>
</footer>
