<footer class="text-light text-center py-3 custom-bg">
    <div class="container">
      
          <div class="row">
            <!-- Logo Column -->
            <div class="col-md-4 navbar">
              <a class="navbar-brand  d-flex align-items-center">
                <img src="logo.png" alt="Logo" class="img-fluid">
                <h1  class="fw-bold">Lavender</h1>
              </a>
            </div>
      
            <!-- About Us Column -->
            <div class="col-md-4">
              <h5>About</h5>
              <ul class="listAbout">
               <a class="nav-link active" href=""><li><span>Our Story</span></li></a>
                <a class="nav-link active" href=""><li><span>Our Idea</span></li></a>
            </ul>
            </div>
      
            <!-- Contact Us Column -->
            <!-- <div class="col-md-1">
              <h5>Contact Us</h5>
              <ul class="listContact">
                <li><span>email@gmail.com</span></li>
                <li><span>999-999-9999</span></li>
            </ul>
            </div> -->
      
            <!-- Social Media Column -->
            <div class="col-md-4">
              <!-- <h5>Follow Us</h5> -->
              <ul class="list-unstyled">
                <a href="#" class="btn btn-link">
                    <i class="fab fa-github fa-4x text-white"></i>
                  </a>
              </ul>
            </div>
          </div>
        <p>&copy; 2023 Your Website</p>
    </div>
</footer>
