<section class="goals mb-5 mx-3">
  <h1 class="section-title text-center pb-5">Goals</h1>

  <!-- Hardcoded for now. Once we have a DB we can map over the models: -->

  <!-- DESKTOP View -->
  <!-- TODO: Break these out into partials -->
  <div id="goalsCarousel" class="goals-carousel carousel slide desktop">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-group mx-auto">
          <div class="d-flex justify-content-between w-100">
            <div class="card square-card mx-2">
              <img src="images/mindful.jpeg" class="card-img-top" alt="Woman meditating">
              <div class="card-body">
                <h4 class="card-title text-center">Be Mindful</h4>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/inspired.jpeg" class="card-img-top" alt="Inspirational sticky notes">
              <div class="card-body">
                <h4 class="card-title text-center">Get Inspired</h4>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/destress.jpeg" class="card-img-top" alt="Teen hiking a mountain">
              <div class="card-body">
                <h4 class="card-title text-center">Destress</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-group mx-auto">
          <div class="d-flex justify-content-between w-100">
            <div class="card square-card mx-2">
              <img src="images/journal.jpeg" class="card-img-top" alt="Teen journaling on laptop">
              <div class="card-body">
                <h4 class="card-title text-center">Calm Down</h4>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/motivation.jpeg" class="card-img-top" alt="Motivational quote: 'Turn Ideas Into Reality'">
              <div class="card-body">
                <h4 class="card-title text-center">Get Motivated</h4>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/grounding.jpeg" class="card-img-top" alt="Person touching sand under ocean tide">
              <div class="card-body">
                <h4 class="card-title text-center">Get Grounded</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goalsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goalsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- MOBILE View -->
  <div id="goalsCarouselMobile" class="goals-carousel carousel slide d-none mobile">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card">
            <img src="images/mindful.jpeg" class="card-img-top" alt="Woman meditating">
            <div class="card-body">
              <h4 class="card-title text-center">Be Mindful</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card mx-2">
            <img src="images/inspired.jpeg" class="card-img-top" alt="Inspirational sticky notes">
            <div class="card-body">
              <h4 class="card-title text-center">Get Inspired</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card mx-2">
            <img src="images/destress.jpeg" class="card-img-top" alt="Teen hiking a mountain">
            <div class="card-body">
              <h4 class="card-title text-center">Destress</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card mx-2">
            <img src="images/journal.jpeg" class="card-img-top" alt="Teen journaling on laptop">
            <div class="card-body">
              <h4 class="card-title text-center">Calm Down</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card mx-2">
            <img src="images/motivation.jpeg" class="card-img-top" alt="Motivational quote: 'Turn Ideas Into Reality'">
            <div class="card-body">
              <h4 class="card-title text-center">Get Motivated</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center mx-4">
          <div class="card square-card mx-2">
            <img src="images/grounding.jpeg" class="card-img-top" alt="Person touching sand under ocean tide">
            <div class="card-body">
              <h4 class="card-title text-center">Get Grounded</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goalsCarouselMobile" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goalsCarouselMobile" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<script>
  const mobileCarousel = document.querySelector('.mobile');
  const desktopCarousel = document.querySelector('.desktop');

  function updateCarouselVisibility() {
    const isMobileCarousel = window.innerWidth <= 768;
    mobileCarousel.classList.toggle('d-none', !isMobileCarousel);
    desktopCarousel.classList.toggle('d-none', isMobileCarousel);
  }

  window.addEventListener('load', updateCarouselVisibility);
  window.addEventListener('resize', updateCarouselVisibility);

</script>
