<section class="mb-5">
  <h1 class="goals-title text-center font-weight-bold pb-5">Goals</h1>

  <!-- Hardcoded for now. Once we have a DB we can map over the models: -->
  <div id="goalsCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-group mx-auto">
          <div class="d-flex justify-content-between w-100">
            <div class="card square-card mx-2">
              <img src="images/mindful.jpeg" class="card-img-top" alt="Woman meditating">
              <div class="card-body">
                <p class="card-title text-center">Be Mindful</p>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/inspired.jpeg" class="card-img-top" alt="Inspirational sticky notes">
              <div class="card-body">
                <p class="card-title text-center">Get Inspired</p>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/destress.jpeg" class="card-img-top" alt="Teen hiking a mountain">
              <div class="card-body">
                <p class="card-title text-center">Destress</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="carousel-group mx-auto">
          <div class="d-flex justify-content-between w-100">
            <div class="card square-card mx-2">
              <img src="images/journal.jpeg" class="card-img-top" alt="Teen journaling on laptop">
              <div class="card-body">
                <p class="card-title text-center">Calm Down</p>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/motivation.jpeg" class="card-img-top" alt="Motivational quote: 'Turn Ideas Into Reality'">
              <div class="card-body">
                <p class="card-title text-center">Get Motivated</p>
              </div>
            </div>
            <div class="card square-card mx-2">
              <img src="images/grounding.jpeg" class="card-img-top" alt="Person touching sand under ocean tide">
              <div class="card-body">
                <p class="card-title text-center">Ground Yourself</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#goalsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#goalsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>
