

<nav class="navbar navbar-expand-lg navbar-light custom-bg" id="navbar">
  <div class="container-fluid">
    <a class="navbar-brand  d-flex align-items-center">
      <img src="logo.png" alt="Logo" class="img-fluid">
      <h1  class="fw-bold">Lavender</h1>
    </a>
    
   
   <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link active" aria-current="page" href="#">Sign In</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Emotions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Angry</a></li>
            <li><a class="dropdown-item" href="#">Anxious</a></li>
            <li><a class="dropdown-item" href="#">Happy</a></li>
            <li><a class="dropdown-item" href="#">Silly</a></li>
            <li><a class="dropdown-item" href="#">Sad</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown underline-link">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Goals
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
           <!-- <li><hr class="dropdown-divider"></li>-->
            <li><a class="dropdown-item" href="#">Calm Down</a></li>
            <li><a class="dropdown-item" href="#">Get Motivated</a></li>
            <li><a class="dropdown-item" href="#">Relax</a></li>
            <li><a class="dropdown-item" href="#">Meditate</a></li>
            <li><a class="dropdown-item" href="#">Yoga</a></li>
            <li><a class="dropdown-item" href="#">Journal</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown underline-link">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Meditation Apps</a></li>
            <li><a class="dropdown-item" href="#">Parent/Teacher Guides</a></li>
            <li><a class="dropdown-item" href="#">Story Auidos and Podcasts</a></li>
          </ul>
        </li>
      </ul>
   </div>
  </div>
</nav>
