<section class="resources mb-5 mx-4">
    <h1 class="section-title text-center pb-2 pb-md-3">Resources</h1>

    <div class="row">
      <div class="col-md-4 p-3">
        <div class="card flex-column h-100">
          <img src="/images/parentGuide.jpg" class="card-img-top" alt="Mother embracing child">
          <div class="card-body">
            <h6 class="card-title text-center py-3">Parent/Teacher Guide</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor enim dignissimos nulla, sed voluptate cumque, magnam similique tempora accusantium aliquam, ducimus fugiat saepe. Non et necessitatibus mollitia itaque fuga?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card flex-column h-100">
          <img src="/images/mindfullness.jpeg" class="card-img-top" alt="Teens meditating">
          <div class="card-body">
            <h6 class="card-title text-center py-3">Meditation/Mindufulness</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor enim dignissimos nulla, sed voluptate cumque, magnam similique tempora accusantium aliquam, ducimus fugiat saepe. Non et necessitatibus mollitia itaque fuga?</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-3">
        <div class="card flex-column h-100">
          <img src="/images/podcasts.jpg" class="card-img-top" alt="Teen giving a podcast">
          <div class="card-body">
            <h6 class="card-title text-center py-3">Audio Stories/Podcasts</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere dolor enim dignissimos nulla, sed voluptate cumque, magnam similique tempora accusantium aliquam, ducimus fugiat saepe. Non et necessitatibus mollitia itaque fuga?</p>
          </div>
        </div>
      </div>
    </div>
</section>
