<div class="container mt-5 resource-container">
    <div class="row">
        <div class="col-3 resource-column ml-resources" style="margin-right: 10px;">
            <div class="resource-img">
                <img src="/images/parentGuide.jpg" alt="Image 1" class="img-fluid">
            </div>
            <div class="resource-text">
                <span class="card-title">Parent/Teacher Guide</span>
                <p class="resource-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia voluptatum ipsam nobis in sunt sint eveniet corporis reprehendeIllo quia voluptatum ipsam nobis in sunt sint eveniet corporis reprehende</p>
            </div>
        </div>
        <div class="col-3 resource-column" style="margin-right: 10px;">
            <div class="resource-img">
                <img src="/images/parentGuide3.jpg" alt="Image 2" class="img-fluid">
            </div>
            <div class="resource-text">
                <span class="card-title">Meditation/Mindfulness</span>
                <p class="resource-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia voluptatum ipsam nobis in sunt sint eveniet corporis reprehendeIllo quia voluptatum ipsam nobis in sunt sint eveniet corporis reprehende</p>
            </div>
        </div>
        <div class="col-3 resource-column">
            <div class="resource-img">
                <img src="/images/podcasts.jpg" alt="Image 3" class="img-fluid">
            </div>
            <div class="resource-text">
                <span class="card-title">Audio Stories/Podcasts</span>
                <p class="resource-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo quia voluptatum ipsam nobis in sunt sintIllo quia voluptatum ipsam nobis in sunt sint eveniet corporis reprehende</p>
            </div>
           </div>
    </div>
</div>