  <div class="container-fulid soundbar row rounded-pill p-4 auto">

    <div class="column song-info-col d-flex justify-content-start align-items-center gap-4 col">

      <div class="song-info text-center ">
        <h3 class="song-name fs-4 font-weight-bold">Song Name</h3>
        <h6 class="artist-name fs-6 font-weight-light">Artist Name</h6>
      </div> 
      <i class="fa-solid fa-heart icons fs-1"></i>
    </div>
    <div class="play-col column col d-flex justify-content-center align-items-center">

      <button class="btn border-0" type="button">
        <i class="fa-solid fa-backward icons fs-1"></i>
      </button>

      <button class="btn border-0" type="button">
        <i class="fa-solid fa-play icons fs-1"></i>
      </button>

      <button class="btn border-0" type="button">
        <i class="fa-solid fa-forward icons fs-1"></i>
      </button>
    </div>

    <div class="sound-control column col d-flex justify-content-end align-items-center gap-2">
      <i class="fa-solid fa-volume-high fs-1 icons"></i>
      <div class="col-5 vol-line"></div>
      <i class="fa-solid fa-ellipsis icons fs-1"></i>
    </div>

  </div>
