<% layout('layouts/boilerplate') %>
<section class="goals pb-3 mb-5 pb-md-5 mx-3">
  <h1 class="section-title text-center pb-2 pb-md-3">Our Idea</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 card mx-2 p-0">
        <iframe width="100%" height="350" class="" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfX9whSk0YQzWikAcdL4YSN%2FWWCode-Hackathon-2023%3Ftype%3Ddesign%26node-id%3D78%253A865%26mode%3Ddesign%26t%3DeKrsew7GFeXOe5eU-1"></iframe>
      </div>
      <div class="col-lg-6 m-2 pt-3 pt-lg-0">
        <h6>Challenge Statement & Proposed Solution</h6>
        <p>Addressing the challenge of students' mental health struggles due to resource limitations, the solution bridges the gap between family and professional support, reduces stigma, and offers diverse communities curated resources and direct professional access. Utilizing a tech stack of emerging technologies such as JS, EJS, HTML, Bootstrap (front-end) and Python, Flask, MySQL (back-end), the non-profit website provides free access to a broad audience.</p>
      </div>
    </div>
  </div>

</section>
