
<% layout('layouts/boilerplate') %>


<section class="goals pb-3 mb-5 pb-md-5 mx-3">
  <h1 class="section-title text-center pb-2 pb-md-3">Our Idea</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-5 card mx-2 p-0">
        <iframe width="100%" height="350" class="" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfX9whSk0YQzWikAcdL4YSN%2FWWCode-Hackathon-2023%3Ftype%3Ddesign%26node-id%3D78%253A865%26mode%3Ddesign%26t%3DeKrsew7GFeXOe5eU-1"></iframe>

        <!-- <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FfX9whSk0YQzWikAcdL4YSN%2FWWCode-Hackathon-2023%3Ftype%3Ddesign%26node-id%3D78%253A865%26mode%3Ddesign%26t%3DeKrsew7GFeXOe5eU-1" allowfullscreen></iframe> -->
      </div>
      <div class="col-lg-6 m-2 pt-3 pt-lg-0">
        <p> Description of idea.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu. Our story.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu. Our story.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu. Our story.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu. Our story.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu. Our story.... Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec interdum elit. Phasellus varius nisi odio, vitae pulvinar metus ultricies eu.</p>
      </div>
    </div>
  </div>

</section>     

