<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<% layout('layouts/boilerplate') %>
<h1>Homepage 👋</h1>

<body>
    
    
    <section class="centered-border">
        <section class="element">Element 1</section>
        <section class="element">Element 2</section>
        <section class="element">Element 3</section>
        <section class="element">Element 4</section>
        <section class="element">Element 5</section>
    </section>

</body>

</html>