<% layout('layouts/boilerplate') %>

<section class="goals pb-3 mb-5 pb-md-5 mx-3">
  <h1 class="section-title text-center pb-2 pb-md-5">Be Mindful</h1>
  <div class="container-fluid activities ">

    <h6 class="activity-title text-left fs-1 font-weight-bold pb-5">How would you like to be mindful?</h6>
    <%- include('../partials/activities') %>
  </div>
</section>
