/* COLORS */

* {
  --coral: #ffa69e;
  --peach: #f9b8a1;
  --sunshine: #fee9b2;
  --mint: #b8f2e6;
  --new-wave: #aed9e0;
  --persion-jewel: #6982c3;
  --concrete: #5e6472;
}

/* FONTS */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "M PLUS Rounded 1c", Helvetica, sans-serif;
}

p,
li,
span {
  font-family: "Figtree", Arial, sans-serif;
}

h1 {
  font-size: 64px !important;
}

h3 {
  font-size: 48px !important;
}
h4 {
  font-size: 40px !important;
}

h5 {
  font-size: 32px !important;
}

h6 {
  font-size: 24px !important;
}

.section-title {
  color: var(--concrete);
}

.card {
  border-width: 10px !important;
  border-radius: 20px !important;
}

.card-img-top {
  border-bottom: none;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 20px solid white !important;
  border-bottom: none !important;
  --bs-card-inner-border-radius: calc(
    20px - (var(--bs-border-width))
  ) !important;
  width: 100%;
}

/*NAVBAR*/

#navbar {
  background-color: #6982c3;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 1.25rem !important;
  --bs-navbar-brand-color: white !important;
}

#navbar .dropdown-item {
  font-size: 20px;
}

ul.dropdown-menu > li:not(:last-child) {
  padding-bottom: 10px;
}

.nav-link {
  --bs-nav-link-color: black;
}

#navbar .navbar-nav .nav-link.active {
  text-decoration: underline;
}

/* HERO */

.hero-img {
  width: 100vw;
  height: 700px;
  object-fit: cover;
}

/* GOALS */

.carousel-group {
  width: 90%;
}

.carousel-control-prev {
  justify-content: start !important;
}

.carousel-control-next {
  justify-content: end !important;
}

.carousel-control-prev-icon {
  background-image: url("/images/chevron-left-solid.svg") !important;
}

.carousel-control-next .carousel-control-next-icon {
  background-image: url("/images/chevron-right-solid.svg") !important;
}

.goals-carousel .card {
  border-color: var(--peach) !important;
}

.goals-carousel.desktop .square-card {
  width: 30%;
  min-height: 30% !important;
}

.goals-carousel.mobile .square-card {
  width: 80%;
  height: 80% !important;
}

.goals-carousel.mobile .card-img-top {
  aspect-ratio: 1 / 1;
}

/* RESOURCES */

.resources .card {
  border-color: var(--persion-jewel) !important;
}

/*FOOTER STYLES*/

footer {
  background-color: var(--persion-jewel) !important;
}

footer a {
  color: white;
}

footer a:hover {
  text-decoration: underline !important;
}

/* MEDIA QUERIES */

/* SM (mobile) breakpoints */
@media (max-width: 576px) {
  h1 {
    font-size: 45px !important;
  }
  h3 {
    font-size: 40px !important;
  }
  h4 {
    font-size: 30px !important;
  }
  h5 {
    font-size: 26px !important;
  }
  h6 {
    font-size: 18px !important;
  }
  #navbar .dropdown-item {
    font-size: 16px;
  }
  .goals .card-title {
    font-size: 20px !important;
  }
}

/* MD to LG breakpoints */
@media (min-width: 567px) and (max-width: 992px) {
  .goals .card-title {
    font-size: 25px !important;
  }
}

/* LG breakpoints */
@media (max-width: 992px) {
  #navbar .dropdown-menu {
    background: var(--persion-jewel);
    border: none;
  }
}
