/* SOUNDBAR  */

.soundbar {
  height: 111px;
  border: 3px solid var(--sunshine);
  @media (max-width: 760px) {
    padding: 3px !important;
  }
}

.vol-line {
  height: 9px;
  border-radius: 7px;
  background: var(--concrete);
}

.song-info-col .icons {
  color: var(--coral);
}

.artist-name {
  color: var(--concrete);
  @media (max-width: 576px) {
    font-size: 13px !important;
  }
}

.song-name {
  @media (max-width: 576px) {
    font-size: 19px !important;
  }
}

.play-col .icons {
  color: var(--persion-jewel);
}

.play-col .btn {
  color: var(--persion-jewel);
}

.sound-control .icons {
  color: var(--concrete);
}
